<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.wheretopark.tabtest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="nVul6sjXS7F5FfVLOX0o0a1GIkDuCYS1yBzQpVgn" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="SxoJJ4y5vbg53noEtAv0RvFKuujw4OgZSXJsM8ct" />

        <activity android:name=".first">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".second"
            android:label="@string/title_activity_second"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".corporateSelect" />
        <activity android:name=".publicSelect" />
        <activity android:name=".companyShow" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".AnonymousLogin" />
        <activity android:name=".CyberHubParking"/>
    </application>

</manifest>
